<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias type="com.cts.dto.CompanyDto" alias="CompanyDto"/>
        <typeAlias type="com.cts.dto.TicketDto" alias="TicketDto"/>
        <typeAlias type="com.cts.dto.BillDto" alias="BillDto"/>
        <typeAlias type="com.cts.dto.DomesticSaleDto" alias="DomesticSaleDto"/>
        <typeAlias type="com.cts.dto.TicketNumberDto" alias="TicketNumberDto"/>
        <typeAlias type="com.cts.dto.UserDto" alias="UserDto"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.cts.handler.LocalDateTimeHandler" javaType="org.joda.time.LocalDateTime"
                     jdbcType="DATE"/>
    </typeHandlers>
</configuration>