<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="monthGenerateJob" class="com.cts.job.MonthGenerator"/>

    <bean id="synchronizeProjects" class="com.cts.job.SynchronizeProjects"/>

    <bean id="monthGenerateTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="monthGenerateJob"/>
        <property name="targetMethod" value="generate"/>
    </bean>
    <bean id="synchronizeProjectsTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="synchronizeProjects"/>
        <property name="targetMethod" value="synchronizeProjects"/>
    </bean>
    <bean id="monthGenerateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="monthGenerateTask"/>
        <!-- every month 1th 00:05 execute -->
        <property name="cronExpression" value="0 5 0 1 * ?"/>
    </bean>

    <bean id="synchronizeProjectsTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="synchronizeProjectsTask"/>
        <!-- every month 1th 00:05 execute -->
        <property name="cronExpression" value="0 0/5 * * * ?"/>
    </bean>
    <bean lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--<ref bean="monthGenerateTrigger"/>-->
                <!--<ref bean="synchronizeProjectsTrigger"/>-->
            </list>
        </property>
    </bean>
</beans>